@{
    ViewData["Title"] = "Password reset";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<form class="ui large form">
    <div class="ui stacked segment">

        <p>
            A password reset email has been sent.
        </p>
    </div>
</form>