@{
    ViewData["Title"] = "Home Page";
}

<div class="splashscreen">
    Welcome to OneSim, Your new virtual career.
</div>

<div class="splash-call-to-action">
    <a href="#info" class="btn btn-outline-light">What's OneSim?</a>
</div>

<div class="container">
    <div class="row">
        <div class="col main-item">
            <h1 id="info">What's OneSim?</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus, erat vitae cursus dignissim,
                lacus quam tempus odio, a sollicitudin enim sapien nec dui. Cras ut ultricies quam. Maecenas a est
                vulputate, dictum erat rutrum, faucibus lorem. Vestibulum ultrices eros lacus, sed blandit tellus
                facilisis venenatis. Maecenas a mollis tellus, sit amet viverra nunc. Proin vehicula, nisl pharetra
                iaculis laoreet, purus nunc posuere odio, eget feugiat nisi metus in turpis. Sed quam felis, interdum id
                neque convallis, accumsan ultrices enim.

                Vestibulum accumsan feugiat arcu, dignissim varius purus eleifend a. Fusce id felis a nulla cursus
                pellentesque. Cras turpis massa, gravida non libero id, sagittis condimentum enim. Duis cursus, leo sit
                amet condimentum placerat, sapien ipsum dictum felis, at interdum dolor justo in turpis. Cras lobortis
                fermentum ex. Cras vel massa ipsum. Ut ultrices, nulla in tincidunt blandit, sem purus rutrum libero,
                sit amet facilisis sapien nunc vel felis. Suspendisse et fermentum dui. Vestibulum odio elit, vestibulum
                quis pharetra sit amet, cursus non purus. Aliquam pulvinar auctor nunc, in tincidunt sapien lobortis ut.
                Donec eu congue purus.
            </p>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col main-item">
            <h1>We're different.</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus, erat vitae cursus dignissim,
                lacus quam tempus odio, a sollicitudin enim sapien nec dui. Cras ut ultricies quam. Maecenas a est
                vulputate, dictum erat rutrum, faucibus lorem. Vestibulum ultrices eros lacus, sed blandit tellus
                facilisis venenatis. Maecenas a mollis tellus, sit amet viverra nunc. Proin vehicula, nisl pharetra
                iaculis laoreet, purus nunc posuere odio, eget feugiat nisi metus in turpis. Sed quam felis, interdum id
                neque convallis, accumsan ultrices enim.
                <br />
                Vestibulum accumsan feugiat arcu, dignissim varius purus eleifend a. Fusce id felis a nulla cursus
                pellentesque. Cras turpis massa, gravida non libero id, sagittis condimentum enim. Duis cursus, leo sit
                amet condimentum placerat, sapien ipsum dictum felis, at interdum dolor justo in turpis. Cras lobortis
                fermentum ex. Cras vel massa ipsum. Ut ultrices, nulla in tincidunt blandit, sem purus rutrum libero,
                sit amet facilisis sapien nunc vel felis. Suspendisse et fermentum dui. Vestibulum odio elit, vestibulum
                quis pharetra sit amet, cursus non purus. Aliquam pulvinar auctor nunc, in tincidunt sapien lobortis ut.
                Donec eu congue purus.
                <br />
                Praesent commodo feugiat quam, ut ornare odio luctus accumsan. Nulla dui lorem, maximus posuere
                ultricies in, consequat sed lacus. Fusce maximus hendrerit odio quis tristique. Vestibulum convallis
                risus in faucibus iaculis. Nulla euismod enim neque, quis lacinia elit pellentesque id. Sed eget justo
                mattis, eleifend risus sit amet, tristique ex. Sed facilisis risus nec elementum fermentum. Phasellus
                vel justo sed eros gravida vehicula nec at justo. Aenean vehicula porta ligula non congue. Cras non
                convallis odio. Fusce nec orci eget sapien sagittis laoreet. Phasellus lacus erat, egestas eu
                scelerisque a, sollicitudin et purus. Nulla sodales diam sed tellus aliquet, sed finibus nisl convallis.
            </p>
        </div>
    </div>
</div>