@{
    ViewData["Title"] = "Home Page";
}

<div class="splashscreen">
    OneSim, Your new virtual career.
</div>

<div class="splash-call-to-action">
    <a href="#info" class="btn btn-outline-light">What's OneSim?</a>
</div>

<div class="container">
    <div class="row">
        <div class="col main-item">
            <h1 id="info">What's OneSim?</h1>
            <hr />
            <p>
                Put simply, we are your new flight simulator logbook. We are however much more than a logbook application. OneSim is a flight simulation ecosystem composed of many different services,
                such as a digital pilot logbook, Online Flight Simulation Network (OFSN) maps, Virtual Airlines (VA), Social Networking, and much more!
                With OneSim, you can pick and choose which services you use, meaning you can choose just one of our many services, or opt-into all of them!
            </p>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col main-item">
            <h1 id="info">The Basics</h1>
            <hr />
            <p>
                <ul>
                    <li>
                        When you sign up to OneSim, you can choose a starting location and aircraft.
                    </li>
                    <li>
                        You can move between locations by flying your aircraft between aerodromes.
                    </li>
                    <li>
                        You can complete achievements by flying to challenging aerodromes, piloting everything from a Boeing 747 to a Cessna 152, or flying to new countries and continents.
                    </li>
                    <li>
                        Completing achievements earns you points, which can be spent on perks like contracts, jumpseat tickets, or other privileges.
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>