<!DOCTYPE html>
<html lang="en-AU">
    <head>
        
        @await Html.PartialAsync("~/Views/Shared/_StandardHeaderItems.cshtml")
        
        <style type="text/css">
            body {
                background-color: #DADADA;
            }
            body > .grid {
                height: 100%;
            }
            .image {
                margin-top: -100px;
            }
            .column {
                max-width: 450px;
            }
            .ui.stacked.segment:after {
                content: none;
            }
        </style>

    </head>
    <body>

        <div class="ui middle aligned center aligned grid">
            <div class="column">

                @* Header *@
                <h2 class="ui blue image header">
                    <img src="https://tenor.com/view/rezero-rem-dancing-gif-5746878" class="image" alt="OneSimLogo">
                    <div class="content">
                        @ViewData["Title"]
                    </div>
                </h2>

                @RenderBody()
            </div>
        </div>
    </body>
</html>
