@{
    ViewData["Title"] = "Data Submitted";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<form class="ui large form">
    <div class="ui stacked segment">
        <p>
            Your Aeronautical Data has been submitted. Thank you!
        </p>
    </div>
</form>