@model OneSim.Traffic.Map.ViewModels.UploadSectorFileViewModel
@{
    ViewData["Title"] = "Submit Data";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="ui top attached tabular menu">
    <a class="item active" data-tab="vrc">VRC</a>
    <a class="item" data-tab="euroScope">EuroScope</a>
    <a class="item" data-tab="vStarsVEram">vSTARS/vERAM</a>
    <a class="item" data-tab="vatSys">vatSys</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="vrc">
    <form class="ui large form" asp-action="SubmitSectorFile" asp-controller="AeronauticalData" method="post" enctype="multipart/form-data">
        <div class="ui stacked segment">

            @* Validation message *@
            <div asp-validation-summary="All" class="ui error message" style="padding: 5px;"></div>

            @* Sector File *@
            <div class="field">
                <label>Sector File</label>
                <input asp-for="SectorFile" accept=".sct,.st2">
            </div>

            @* Position File *@
            <div class="field">
                <label>Position File</label>
                <input asp-for="PositionFile" accept=".pof">
            </div>

            @* Anti-forgery token *@
            @Html.AntiForgeryToken()

            @* Submit / Review button *@
            <button class="ui fluid large blue button" type="submit">Review</button>

        </div>
    </form>
</div>
<div class="ui bottom attached tab segment" data-tab="euroScope">
    <form class="ui large form" asp-action="SubmitSectorFile" asp-controller="AeronauticalData" method="post" enctype="multipart/form-data">
        <div class="ui stacked segment">

            @* Validation message *@
            <div asp-validation-summary="All" class="ui error message" style="padding: 5px;"></div>

            @* Sector File *@
            <div class="field">
                <label>Sector File</label>
                <input type="file" asp-for="SectorFile" accept=".sct,.st2">
            </div>

            @* EuroScope Extension File *@
            <div class="field">
                <label>EuroScope Extension</label>
                <input type="file" asp-for="EuroScopeExtensionFile" accept=".ese">
            </div>

            @* Anti-forgery token *@
            @Html.AntiForgeryToken()
            
            @* Submit / Review button *@
            <button class="ui fluid large blue button" type="submit">Review</button>
            
        </div>
    </form>
</div>
<div class="ui bottom attached tab segment" data-tab="vStarsVEram">
  vSTARs and vERAM data files not yet implemented.
</div>
<div class="ui bottom attached tab segment" data-tab="vatSys">
    vatSys data files not yet implemented.
</div>
<script>
    $('.menu .item').tab();
</script>