@{
    ViewData["Title"] = "Account deleted";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<form class="ui large form">
    <div class="ui stacked segment">
        <p>
            Your account has been deleted.
        </p>
    </div>
</form>