@model OneSim.Identity.Web.ViewModels.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<form id="changePasswordForm" class="ui large form" asp-action="ChangePassword" asp-controller="Account" method="post">
    <div class="ui stacked segment">

        @* Validation message *@
        <div class="ui error message" style="padding: 5px;">
            @Html.ValidationSummary()
        </div>

        @* Current Password *@
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" asp-for="OldPassword" placeholder="Current Password"/>
                @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Current password" })
            </div>
        </div>

        @* New Password *@
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" asp-for="NewPassword" placeholder="New Password"/>
            </div>
        </div>

        @* Confirm New Password *@
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" asp-for="ConfirmPassword" placeholder="Confirm New Password"/>
            </div>
        </div>

        @* Anti-forgery token *@
        @Html.AntiForgeryToken()
        
        @* Change Password button *@
        <button class="ui fluid large blue button" type="submit">Change Password</button>
    </div>
</form>