@{
    ViewData["Title"] = "Disable Two-Factor Authentication";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="ui stacked segment">
    <form id="warningForm" asp-controller="Account" asp-action="DisableTwoFactorAuthentication" method="get" class="ui warning form">
        <div class="ui warning message">
            <div class="header">
                <i class="exclamation triangle icon"></i>This action only disables 2FA.
            </div>
            Disabling 2FA does not change the keys used in authenticator apps. 
            If you wish to change the key used in an authenticator app you should 
            @Html.ActionLink("reset your authenticator keys", "ResetTwoFactorAuthentication", "Account")
        </div>
        
        <button class="ui fluid negative button" type="submit">Disable 2FA</button>
    </form>
</div>