@model OneSim.Identity.Web.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<form id="forgotPasswordForm" class="ui large form" asp-action="ForgotPassword" asp-controller="Account">
    <div class="ui stacked segment">
        
        @* Validation message *@
        <div class="ui error message" style="padding: 5px;">
            @Html.ValidationSummary()
        </div>

        <p>Please enter your email and we will send you a link to reset your password.</p>

        @* Email *@
        <div class="field">
            <div class="ui left icon input">
                <i class="envelope icon"></i>
                <input type="email" asp-for="Email" placeholder="Email Address"/>
            </div>
        </div>

        @* Anti-forgery token *@
        @Html.AntiForgeryToken()

        @* Submit button *@
        <button class="ui fluid large blue button" type="submit">Submit</button>
    </div>
</form>