@{
    ViewData["Title"] = "Locked out";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<form class="ui large form">
    <div class="ui stacked segment">
        <p>
            You have been locked out.
        </p>
    </div>
</form>