@model OneSim.Identity.Web.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<form id="loginForm" class="ui large form" asp-action="Login" asp-controller="Authentication" method="post">
    <div class="ui stacked segment">

        @* Validation message *@
        <div class="ui error message" style="padding: 5px;">
            @Html.ValidationSummary()
        </div>

        @* Email *@
        <div class="field">
            <div class="ui left icon input">
                <i class="envelope icon"></i>
                <input type="email" asp-for="Email" placeholder="Email Address"/>
            </div>
        </div>

        @* Password *@
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" asp-for="Password" placeholder="Password"/>
            </div>
        </div>

        @* Remember Me *@
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" asp-for="RememberMe"/>
                <label>Remember me</label>
            </div>
        </div>

        @* Anti-forgery token *@
        @Html.AntiForgeryToken()
        
        @* Return URL *@
        @Html.HiddenFor(m => m.CallbackUri)
        
        @* Log In button *@
        <button class="ui fluid large blue button" type="submit">Log In</button>
    </div>
</form>

@* Forgot password *@
<div class="ui message">
    @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account")
</div>