@model OneSim.Identity.Web.ViewModels.Account.RecoveryCodesViewModel
@{
    ViewData["Title"] = "Recovery Codes";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="ui stacked segment">
    <div class="ui warning message">
        <div class="header">
            <i class="exclamation triangle icon"></i>Put these codes in a safe place.
        </div>
        <p>
            If you lose your device and don't have the recovery codes you could lose access to your account.
        </p>
        You can @Html.ActionLink("reset Two-Factor Authentication", "ResetTwoFactorAuthenticationWarning", "AccountController", htmlAttributes: new { @class = "ui link" }).
    </div>
    <div class="ui equal width grid">
        <div class="column">
            <div class="ui list">
                @{
                    List<string> codes = Model.RecoveryCodes.ToList();
                }
                @for (int row = 0; row < codes.Count / 2; row++)
                {
                    <div class="item">
                        <code>@codes[row]</code>
                    </div>
                }
            </div>
        </div>
        <div class="column">
            <div class="ui list">
                @for (int row = codes.Count / 2; row < codes.Count; row++)
                {
                    <div class="item">
                        <code>@codes[row]</code>
                    </div>
                }
            </div>
        </div>
    </div>
    
    @* Back to settings *@
    @Html.ActionLink("I have copied these codes to a safe place", "Index", "AccountController", htmlAttributes: new { @class = "ui link" })
</div>