@{
    ViewData["Title"] = "Redirecting";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<form class="ui large form">
    <div class="ui stacked segment">
        <p>
            Redirecting...
        </p>
    </div>
</form>