@model OneSim.Identity.Web.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<form id="registerForm" class="ui large form" asp-action="Register" asp-controller="Account" method="post">
    <div class="ui stacked segment">

        @* Validation message *@
        <div asp-validation-summary="All" class="ui error message" style="padding: 5px;"></div>

        @* Email *@
        <div class="field">
            <div class="ui left icon input">
                <i class="envelope icon"></i>
                <input type="email" asp-for="Email" placeholder="Email Address"/>
            </div>
        </div>

        @* UserName *@
        <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" asp-for="UserName" placeholder="UserName"/>
            </div>
        </div>

        @* Password *@
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" asp-for="Password" placeholder="Password"/>
            </div>
        </div>

        @* Anti-forgery token *@
        @Html.AntiForgeryToken()
        
        @* Log In button *@
        <button class="ui fluid large blue button" type="submit">Register</button>
    </div>
</form>