<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OneSim</title>
    <!--    Include all the stylesheets  -->
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <div id="navbar" class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header-logo-text">OneSim</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ParallaxVideo">
        <video autoplay muted loop>
            <source src="~/vid/bgvideo.mp4" type="video/mp4">
        </video>
    </div>

    @RenderBody()

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer-logo-text">OneSim</div>
                </div>
                <div class="col footer-links">
                    <a href="#">Privacy</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>


</html>