<!-- 
    There used to be some logic here to change this HTML when logged in. Although that won't work out of the box given the way we're doing things.
    We'll come up with something when we get to that point.
-->
<ul class="nav navbar-nav navbar-right">
    <li><a>Register</a></li>
    <li><a>Login</a></li>
</ul>